/* reset */
*{
  margin:0px;
  padding:0px;
}

body{
  position:relative;
}

#score{
  height:100vh;
  width:100vw;
  font-size:2rem;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  background:white;
  text-align:left;
  z-index:3;
  height:0px;
  position:absolute;
  overflow:auto;
  transition:all .5s;
}
#score h1{
  margin-bottom:35px;
}

#score .item{
  margin-bottom:10px;
}

.body {
  background-color: green;
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

#board {
  width:90vmin;
  height:90vmin;
  border:2px solid black;
  display:grid;
  grid-template-rows: repeat(18 , 1fr);
  grid-template-columns: repeat(18 , 1fr);
  
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 5px;
}

.tail{
    background-color: purple;
    border:2px solid black;
    border-radius:5px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}

.controls {
   display:flex;
   align-items:center;
   justify-content:center;
   flex-direction: column;
   margin-top:30px;
}

.controls button {
  width:100px;
  height:50px;
  border-radius:5px;
  border:2px solid black;
  font-size:21px ;
}

.controls .center .left {
   margin-right:50px;
}